@keyframes slideout {
    from {
        transform: translateX(-330%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


header {
    display: flex;
    background-color: lightskyblue;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 72%, rgba(252,176,69,1) 100%);
    margin: 0;
}


header > h1 {
    font-size: 2.5vmax;
    color: rgb(255, 255, 255);
    margin: 10px;
}

header > a, .abut{
    padding: 1%;
    font-size: 1.5vmax;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.048);
    border-width: 0px;
}

header > a:hover, .abut:hover {
    color: lightcoral;
    background-color: rgba(0, 0, 0, 0.349);
    transition: 0.3s;
}

.spacer {
    flex-grow: 0.9;
}



.dropdown {
    position: relative;
    display: inline-block;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 4%;
    margin-right: 1%;
    font-size: 1.5vmax;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.048);
}

.dropdown-content {
    display: none;
    position: absolute;
    padding: 1%;
    min-width: 160px;
}

.dropdown-content > a {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4%;
    display: block;
    padding-right: 10%;
    padding-top: 10%;
}

.dropdown-content > a:hover {
    background-color: rgba(255, 255, 255, 0.349);
    color: lightcoral;
    transition: 0.3s;
}

.dropdown:hover {
    span {
        color: lightcoral;
    }
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: rgba(0, 0, 0, 0.349);
    transition: 0.3s;

}


.flexbox {
    display: flex;
    justify-content: space-evenly;
    max-width: 1000px;
    flex-direction: row;
}


.flexbox > div {
    display: grid;
    grid-template-rows: auto 2fr auto;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(193, 182, 255);
    background-color:rgb(193, 182, 255);
    border-radius:5%;
    width: 100%;
    transition: 0.5s;
}

.flexbox > div > h2 {
    text-align: center;
    font-size: 1.5em;
    color: black;
}

.flexbox > div > p {
    font-size: 1.3em;
    color: black;
    margin-bottom: flex;
}

.flexbox > div > button {
    background-color: lightblue;
    border: 1px solid lightblue;
    border-radius: 7%;
    width: 100%;
    font-size: x-large;
    padding: 8%;  
    transition: 0.5s;    
}

.flexbox > div > button:hover {
    background-color: lightcoral;
    transition: 0.5s;
}

.flexbox > div:hover {
    background-color: rgb(220, 182, 255);
    transition: all 0.3s ease-in-out;
    width: 150%;
    
    
}

.flexbox > div > button:active {
    background-color: lightgreen;
}

.flexbox > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
}

body {
    background-color: azure;
    background: linear-gradient(90deg, rgba(131,58,180,0.3) 0%, rgba(253,29,29,0.3) 72%, rgba(252,176,69,0.3) 100%);
    font-family: Arial;  
    margin: 0px;
}


.darkmode {
    background-color: black;
    color: white;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
@media screen and (max-width: 600px) {
    .flexbox {
        flex-direction: column;
        max-width: 85%;
    }

    .flexbox > div{
        height: 40%;
    }

    .flexbox > div:hover{
        width: 100%;
        background-color: rgb(220, 182, 255);
        transition: all 0.3s ease-in-out;
    }
    
}
    